{% extends 'base.html.twig' %}

{% block titre %}Etudiant{% endblock %}

{% block content %}

    <style>
        h1{
            text-align: center;
            margin-top: 50px;
        }
        h2{
             text-align: center;
         }
        form{
            margin-top: 70px;
        }
        .container{
            width:80%;
        }
    </style>


    <h1> Etudiant : {{ etudiant.getLogin }}</h1>
    <div class="container">
    <form method="post" action="/etudiants/{{ etudiant.getIdEtudiant }}" class="needs-validation" novalidate>
        <div class="row mb-4">
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="firstname" value="{{ etudiant.getPrenom }}" />
                    <label class="form-label" for="form3Example1">First Name</label>
                </div>
                <div class="form-outline">
                    <input type="text" id="form3Example1" class="form-control" name="login" value="{{ etudiant.getLogin }}" required/>
                    <label class="form-label" for="form3Example1">Login</label>
                </div>
            </div>
            <div class="col">
                <div class="form-outline">
                    <input type="text" id="form3Example2" class="form-control" name="lastname" value="{{ etudiant.getNom }}" required/>
                    <label class="form-label" for="form3Example2">Last name</label>
                </div>

            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form3Example3" class="form-control" name="email" value="{{ etudiant.getEmail }}" required/>
            <label class="form-label" for="form3Example3">Email address</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form3Example4" class="form-control" name="password" value="{{ etudiant.getMotDePasse }}"/>
            <label class="form-label" for="form3Example4">Password</label>
        </div>


        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-block mb-4">Modifier</button>
        </div>
        <script>
            // Example starter JavaScript for disabling form submissions if there are invalid fields
            (function() {
                'use strict';
                window.addEventListener('load', function() {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function(form) {
                        form.addEventListener('submit', function(event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                                const h1 = document.createElement("h1");
                                h1.innerHTML ="<h1>Vous devez saisir tous les champs</h1>";
                                document.body.appendChild(h1);
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </form>
        {% if error == true %}
            <h2> {{causeError}}</h2>
        {% endif %}
        {% if success == true %}
            <h2>Etudiant modifié !</h2>
        {% endif %}
    </div>



{% endblock %}